
.Header
  line-height: 1.5
  font-family: $fontfamily
  border-width: 0
  margin: 0
  font-weight: 700
  font-size: 2.25rem
  margin-top: 1.25rem
  text-align: center

.Card
  padding: rem(15)
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
  margin: 0 auto
  background-color: $white
  border-radius: .25rem

.Input
  margin-right: 1rem
  margin-bottom: 1rem
  width: 100%

  &__label
    +labelStyle
  
  &__field
    background-color: $whitestgray
    overflow: visible;
    -webkit-appearance: none
    border-radius: .25rem
    border: 1px solid $whitestgray
    font-family: inherit
    display: block
    line-height: 1.25
    // margin-bottom: .75rem
    padding: .75rem  1rem
    color: $darkgray
    width: 100%
      
.RangePicker
  position: relative
  &__error
    margin-top: .5rem
    display: block
    font-size: rem(12)
    text-align: center
    color: $red
    width: 100%

.AverageTable
  display: flex
  justify-content: space-between

.AveragePrice
  &__label
    +labelStyle
  &__amount
    font-size: rem(26)
    font-weight: 300
    margin-top: .25rem
    margin-bottom: .5rem
    text-align: center

.Button
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease
  background-color: $green
  box-shadow: 0 2px 6px 0 rgba($green,0.39);
  background-color: $green
  padding: .75rem  1rem
  font-size: 1rem
  border: 2px solid $green
  border-radius: .25rem
  color: $white
  font-weight: bold
  width: 100%

  &:hover
    background: rgba($green,0.9);
    box-shadow: 0 6px 20px rgba($green,0.23);

/* Loaders */
div#nprogress
  .bar
    background-color: $green
    .peg
      box-shadow: 0 0 10px $green, 0 0 5px $green
  .spinner-icon
    border-top-color: $green
    border-left-color: $green
    display: none
  
.is-loading
  position: relative

  &::before 
    content: ''
    top: 50%
    left: 50%
    height: 40px
    width: 40px
    background: url(../images/icon-circle-loader.svg)
    z-index: 1
    display: block
    position: absolute
    animation: rotation .5s linear infinite
    transform: translate(-50%, -50%)
  
  &::after 
    content: ''
    position: absolute
    top: 0
    left: 0
    animation: shimmer .8s linear infinite alternate
    width: 100%
    height: 100%
    background-color: $white


/* Responsive */
+media-breakpoint-up(xs)
  .Card
    max-width: rem(600)

+media-breakpoint-up(md)
  .AverageTable
    justify-content: center
  .AveragePrice
    &:nth-child(2)
      margin: 0 2rem
    &__amount
      font-size: rem(30)
  .RangePicker
    display: flex
    align-items: flex-end
  
  .Input
    margin-bottom: 0


/* Animations */
@keyframes rotation 
  100% 
    transform: translate(-50%, -50%) rotate(1turn);
  
@keyframes shimmer 
  0% 
    opacity: .95;

  100% 
    opacity: 1;
  